body {
	background-color: #8AF;
}

div.postdata {
	max-width: 1080px;
	margin: 5%;
}

div.postdata h2 {
	font-size: 1.2em;
	background-color: #46F;
	color: #FFF;
	width: 100%;
	padding: .5% 5%;
	margin: 0;
}
div.postdata h1 {
	font font-size: 1.75em;
	background-color: #46F;
	color: #FFF;
	width: 100%;
	padding: .5% 5%;
	text-align: center;
	margin: 0;
}

div.postdata p {
	background-color: #CCC;
	color: #222;
	width: 100%;
	padding: 2.5% 5%;
	margin: 0;
}